---
title: Sketchy Sermons
layout: home
eleventyExcludeFromCollections: true
---

<style>


.post-image-list {
  max-width: 1024px;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  flex-basis: 33%;
  -ms-flex: auto;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

    .grid-item .preview{
        text-align:center;
    }

    .grid-item .preview img{
        width:auto;
        height:200px;
        min-height:200px;
        min-width:200px;
        box-shadow:0 5px 5px rgba(0,0,0,.5);
        padding: 5px;
        border: 1px solid rgba(0,0,0,.1);
    }

    .grid-item .title,.grid-item .date{
        text-align:center;
    }

.post-image-list .post{
    background-color:yellow;
}

.main-preview img{
    width: 100% !important;
    height: auto !important;
}

</style>



{% for post in collections.latestPost %}
    <h2>Latest Post: {{ post.data.title }}</h2>
    <div class="main-preview">
    {% responsiveImage post.data.coverImage post.data.title 1050 %}
    </div>
    {% comment %}
    <img style="width:100%;height:auto" src="{{ config.imageDirectory }}{{ post.data.coverImage }}" />
    {% endcomment %}

    <br /><span>{{ post.url }}</span>
    <br /><span>{{ post.date }}</span>
    <br /><span>{{ post.data.tags }}</span>
    <br /><span>{{ post.data.download }}</span>
    <p>{{ post.templateContent }}</p>
{% endfor %}

<h3>Last 6 posts!</h3>

<div class="post-image-list">
    <div class="grid-row">
    {% for post in collections.getLatestPostCluster %}
        <div class="grid-item">
            <div class="preview">

                {% responsiveImage post.data.coverImage post.data.title 275 %}
                
            </div>
            <h5>{{ post.data.title }}</h5>
            <h5 class="date">{{ post.date }}</h5>
        </div>
    {% endfor %}
    </div class="row">
</div>


<h2>What do I do here?</h2>

sermon notes

book summaries

quotes

<h2>Every Single Post Ever!</h2>

{% for year in postYears %}
    <h2>{{ year }}</h2>
    <div class="post-image-list">
        <div class="grid-row">
        {% for post in collections.all reversed %}
            
            {% assign t = post.date | date: '%Y' %}
             
            {% if t contains year %}
            <div class="grid-item">
                <div class="preview">
{% comment %}
                    {% responsiveImage post.data.coverImage post.data.title 200 %}
{% endcomment %}
                    
                    <img src="{{ config.imageDirectory }}{{ post.data.coverImage }}" />
                    
                </div>
                <h5 class="title">{{ post.data.title }}</h5>
                <h5>{{ post.data.coverImage }} </h5>
                <h5 class="date">{{ post.date }}</h5>

                {% comment %}
                <br /><span>{{ post.data.tags }}</span>
                <br /><span>{{ post.data.download }}</span>
                {% endcomment %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endfor %}


