---
title: Sketchy Sermons
layout: home
eleventyExcludeFromCollections: true
---

{% for post in collections.latestPost %}
    {% assign latestPost = post %}
{% endfor %}
<div id="latest-post">
    <div class="latest-header">Latest Post:</div>
    <h2 class="header"><a href="{{ latestPost.url}}">{{ latestPost.data.title }}</a></h2>
    <h3 class="date">{{ latestPost.date | formatDate }}</h3>
    <div class="main-preview">

        {% if config.debug %}
            <img src="{{ config.imageDirectory }}{{ latestPost.data.coverImage}}" />
        {% else %}
            {% responsiveImage latestPost.data.coverImage latestPost.data.title 1050 %}
        {% endif %}
        
    </div>
    <p>{{ latestPost.templateContent }}</p>
    
    {% if latestPost.data.tags != nil %}
    <div class="tag-container">
        <ul class="tags">
            <li>🔖</li>
            {% for tag in latestPost.data.tags %}
                <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="download-container">
        <a href="/downloads/{{ latestPost.data.download }}" download>Download! </a>
    </div>
    {% endif %}

</div> 


<h2 class="header">Last 6 posts!</h2>
<div class="post-image-list">
    <div class="grid-row prominent">
    {% for post in collections.getLatestPostCluster %}
        <div class="grid-item third">
            <a href="{{ post.url }}">
                <div class="preview">
                    {% if config.debug %}
                        <img src="{{ config.imageDirectory }}{{ post.data.coverImage }}" loading="lazy" />
                    {% else %}
                        {% responsiveImage post.data.coverImage post.data.title 275 %}
                    {% endif %}
                </div>
                <h5>{{ post.data.title }}{{ post.data.url }}</h5>
                <h6 class="date">{{ post.date | formatDate }}</h6>
            </a>
            {% if post.data.download != nil %}
                <div class="download">
                    <a href="{{ config.downloadDirectory }}{{ post.data.download }}" download>
                        <img class="icon" src="/images/site/feather-icons/download-cloud.svg" alt="Download High Resolution PDF" />
                    </a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    </div class="row">
</div>

<h2 class="header">Every Single Post Ever!</h2>

{% for year in postYears %}
    <h2 class="header">{{ year }}</h2>
    <div class="post-image-list">
        <div class="grid-row">
        {% for post in collections.all reversed %}
            
            {% assign t = post.date | date: '%Y' %}
             
            {% if t contains year %}
             <div class="grid-item quarter">
                <a href="{{ post.url }}">
                    <div class="preview">
                        {% if config.debug %}
                            <img src="{{ config.imageDirectory }}{{ post.data.coverImage }}" loading="lazy" />
                        {% else %}
                            {% responsiveImage post.data.coverImage post.data.title 275 true %}
                        {% endif %}
                    </div>
                    <h5>{{ post.data.title }}{{ post.data.url }}</h5>
                    <h6 class="date">{{ post.date | formatDate }}</h6>
                </a>
                {% if post.data.download != nil %}
                    <div class="download">
                        <a href="{{ config.downloadDirectory }}{{ post.data.download }}" download>
                            <img class="icon" src="/images/site/feather-icons/download-cloud.svg" alt="Download High Resolution PDF" />
                        </a>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endfor %}


