
<footer id="site-footer">
    <div class="footer-widgets">
        <div class="widget">
            <h2>Follow Me</h2>
            <ul>
                <li><a rel="noopener" href="http://facebook.com/sketchysermons/" target="_blank">Facebook</a></li>
                <li><a rel="noopener" href="http://instagram.com/sketchysermons/" target="_blank">Instagram</a></li>
                <li><a rel="noopener" href="http://twitter.com/paulmignard/" target="_blank">Twitter</a></li>
            </ul>
        </div>

        <div class="widget">
            <h2>Pages</h2>
            {% include '_navigation' %}
        </div>

        <div class="widget">
            <h2>Subscribe for Email</h2>
            <a rel="noopener" target="_blank" href="https://email.sketchysermons.com/signup">
                Click here to subscribe
            </a>
        </div>

        <div class="widget">
            <p>I will never do anything sketchy with the emails you provide. I send out emails every month or so and it’s always easy to unsubscribe.</p>

            <p>Unless specified everything on this site is free. Feel free to print, color, trace, etc. anything you find here. If you remix or edit something let me know; I’d love to see it! The only thing I ask is that you don’t sell something I’ve provided for free. 🤗</p>
        </div>
    </div>
    <div class="splash">
        <img class="footer-splash" src="/images/site/sketchy-footer.jpg" alt="" />
    </div>
    <div class="footer-widgets">
        <div class="left widget">
            <span>&copy; 2020</span>
            <span><a href="/">Sketchy Sermons</a></span>
            <span><a href="/privacy">Privacy Policy</a></span>
        </div> 
        <div class="right small-text widget">
            <span>All content here is under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Common</a> license.</span>
            <span><a href="https://github.com/paulmignard/sketchysermons" rel="noopener" target="_blank" class="tiny-icon" title="Sketchy Sermons is maintained over on Github!"><img src="/images/site/feather-icons/github.svg" alt="github icon" /></a></span>
        </div>
    </aside>
</footer>