<style>

    #copyright{
        border-top:1px solid #dcd7ca;
        padding:30px 15px;
    }

</style>

<footer id="site-footer">
      <img class="footer-splash" src="https://sketchysermons.com/wp-content/themes/twentytwenty-child/assets/images/Footer.png" />


    <aside id="copyright">
        <span>&copy; 2020</span>
        <span><a href="/">Sketchy Sermons</a></span>
        <span><a href="/privacy">Privacy Policy</a></span>
    </aside>
</footer>