<style>

    #copyright{
        border-top:1px solid #dcd7ca;
        padding:30px 15px;
    }

</style>

<footer id="site-footer">
    <div class="splash">
        <img class="footer-splash" src="/images/sketchy-footer.jpg" />
    </div>
    <div class="footer-widgets">
        <div class="widget">
            <h2>Follow Me</h2>
            <ul>
                <li><a href="http://facebook.com/sketchysermons/" target="_blank">Facebook</a></li>
                <li><a href="http://instagram.com/sketchysermons/" target="_blank">Instagram</a></li>
                <li><a href="http://twitter.com/paulmignard/" target="_blank">Twitter</a></li>
            </ul>
        </div>

        <div class="widget">
            <h2>Pages</h2>
            {% include '_navigation' %}
        </div>

        <div class="widget">
            <h2>Subscribe for Email</h2>
            <p>Form goes here</p>
        </div>

        <div class="widget">
            <p>I will never do anything sketchy with the emails you provide. I send out emails every month or so and it’s always easy to unsubscribe.</p>

            <p>Unless specified everything on this site is free. Feel free to print, color, trace, etc. anything you find here. If you remix or edit something let me know; I’d love to see it! The only thing I ask is that you don’t sell something I’ve provided for free. 🤗</p>
        </div>
    </div>
    <aside id="copyright">
        <span>&copy; 2020</span>
        <span><a href="/">Sketchy Sermons</a></span>
        <span><a href="/privacy">Privacy Policy</a></span>
    </aside>
</footer>