<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <style>
        @font-face {
          font-family: StoneHarbour;
          src: url("/fonts/stoneharbour/StoneHarbour.otf") format("opentype");
        }

        body{
          font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
          letter-spacing: normal;
          line-height:1.4;
          font-size:1.2em;
        }

        h1,h2,h3,h4{
          font-family:StoneHarbour;
          font-weight: 700;
          letter-spacing: -0.0415625em;
          line-height: 1.25;
          -webkit-font-smoothing: antialiased;
        }

        h1{
          font-size:3em;
          text-align:center;
        }

        h3{
          font-size: 2.4rem;
          text-align:center;
        }

        #featured-image{
          width:100%;
          height:auto;
        }


        #avatar img{
          border-radius:50%;
          width:100px;
        }

        .download-container{
          background-color:lightgrey;
          padding:10px;
        }

        #site-header{

        }

        #content{
            padding:15px;
        }

        .logo img{
            width:100%;
            max-width:550px;
        }

        .tags{
            padding-left:0;
        }

        .tags li{
            display:inline-block;
            padding-right:5px;
        }

        .footer-splash{
            width:100%;
            height:auto;
            max-width:600px;
        }
    </style>

  </head>
    <body>