<style>

    .author{
        padding:60px 0 30px;
    }

    .author .avatar{
        display:inline-block;
    }

        .author .avatar img{
            border-radius:50%;
        }

    .author .author-content{
        display:inline-block;
        text-align:left;
        vertical-align: top;
        width: 60%;
        padding: 0 0 0 20px;
    }

    .author h3{
        margin: 0;
        text-align:left;
    }
</style>

<div class="author">
    <div class="avatar">
        <img src="https://secure.gravatar.com/avatar/aa610b576a5aff5100e2a62509bf420a?s=160&d=mm&r=g" />
    </div>
    <div class="author-content">
        <h3>Created by Paul Mignard</h3>
        <p>Illustrator and Sketchnoter. I prefer pizza over tacos. I like to draw things without fur much more than things with fur. When presented with two choices I pick the one that's less complicated.</p>
    </div>
</div>