---
title: Sketchy Sermons
---
{% include '_header' %}
    
    {{ content }}

    <footer id="site-footer">
      <img class="footer-splash" src="https://sketchysermons.com/wp-content/themes/twentytwenty-child/assets/images/Footer.png" />

    </footer>
  </body>
</html>