@import url("https://use.typekit.net/ldl2qrh.css");

    body{
    font-family: source-sans-pro, sans-serif;
    letter-spacing: normal;
    line-height: 1.8em;
    font-size:1.2em;
    }

    h1,h2,h3,h4{
    font-family: flood-std, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.0415625em;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    }

    h1{
    font-size:3em; 
    text-align:center;
    }

    h3{
    font-size: 2.4rem;
    text-align:center;
    }

    #featured-container img{
    width:97%;
    height:auto;

    border: 1px solid rgba(0,0,0,.1);
    padding: 5px;
    box-shadow: 0 2px 45px rgba(0,0,0,.2);
    }


#logo-container{
    width: 100%;
    text-align: center;
}

#site-header nav{
    text-align: center;
}

#site-header nav ul{
    padding:10px 0;
}

#site-header nav ul li{
    display:inline-block;
    padding:0 5px;
}

.latest-header{
    text-align: center;
    font-weight: 500;
}

/*footer*/

#copyright{
    border-top:1px solid #dcd7ca;
    padding:40px 0px;
}

.footer-widgets{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.widget{
    flex: 0 50%;
    /*height: 100px;
    margin-bottom: 2%; /* (100-32*3)/2 */
}

    .widget ul{
        padding:10px 0;
    }

    .widget ul li{
        list-style-type: none;
    }

    #avatar img{
    border-radius:50%;
    width:100px;
    }


    #site-header{
        margin:0 auto;
        max-width:900px;
        padding:15px;
    }

    #content,#site-footer{
        margin:0 auto;
        max-width:1024px;
        padding:15px;
    }

    #site-footer .splash{
        text-align:center;
    }

    .logo img{
        width:100%;
        max-width:550px;
        text-align:center;
    }

    .tags{
        padding-left:0;
    }

    .tags li{
        display:inline-block;
        padding:0 5px;
    }

    .footer-splash{
        width:100%;
        height:auto;
        padding:50px 0 50px;
    }


    a{
        color: #cd2653;
        font-weight: 700;
    }

    .post-image-list {
    max-width: 1024px;
    margin: 0 auto;
    }

    .grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }

    .grid-item {
    -ms-flex: auto;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    }

    .third{
        flex-basis: 33%;
    }

    .quarter{
        flex-basis: 25%;
    }

    .grid-item .preview{
        text-align:center;
    }

    .grid-item .download .icon{
        /* PUT THIS BACK IN */
        display:none;
        background-color:white;
        position:absolute;
        width:30px;
        height:30px;
        right:15px;
        top:140px;
        padding:5px;
        border-radius:50%;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 0 2px 45px rgba(0,0,0,.2);
        opacity:.5;
        transition: opacity .5s;
        transition-timing-function: ease-in;
    }

    .grid-item .download .icon:hover{
        opacity:1;
        box-shadow: 0 2px 45px rgba(0,0,0,.3);
    }

    .grid-item .preview img{
        width:auto;
        height:150px;
        /*min-height:200px;
        min-width:200px;*/
        border: 1px solid rgba(0,0,0,.1);
        padding: 5px;
        box-shadow: 0 2px 45px rgba(0,0,0,.2);
    }


    .grid-item .title,.grid-item .date{
        text-align:center;
    }

    .grid-item h5{
        font-weight: normal;
        text-align: center;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .grid-item h6.date{
        font-weight: normal;
        text-align: center;
        margin-top: 0;
    }

    .post-image-list .post{
        background-color:yellow;
    }

    .main-preview img{
        width: 100% !important;
        height: auto !important;
        border: 1px solid rgba(0,0,0,.1);
        padding: 5px;
        box-shadow: 0 2px 45px rgba(0,0,0,.2);
    }

    h2.header{
        font-size:3em;
        text-align:center;
    }

    h3.date{
        text-align:center;
    }

    .post .title{
        margin-top:0;
        margin-bottom:0;
    }

    .post .date{
        font-weight:bold;
        text-align:center;
        margin-bottom:50px;
    }

    .download-container{
    border: 1px solid lightgray;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:50px 0;
    transform-style: preserve-3d;
    perspective: 400px;
    }

    .download-container:hover .download-preview{
    transform: rotateY(-35deg);
    }



    .download-preview{
    position:absolute;
    height:150px;
    width:auto;
    right: 46px;
    top: 3px;
    box-shadow:5px 5px 15px rgba(0,0,0,.5);
    transform: rotateY(-30deg);
    transition: transform 1s ease;
    }

    .download-preview img{
    height:100%;
    width:auto;
    }

    

    .download-container a{
    font-size:2em;
    }

.left{
    text-align:left;
}

.right{
    text-align:right;
}

/* RESPONSIVE QUERIES */

@media only screen and (max-width: 600px) {
    .download-container{
        padding:0;
    }
    
    .download-preview{
        display:none;
    }

    .left{
        text-align:center;
    }

    .right{
        text-align:center;
    }

    .quarter {
        flex-basis: 100%;
    }

    .third {
        flex-basis: 100%;
    }

    .grid-item .preview img {
        width: 90%;
        height: auto;
    }

    .widget{
        flex: 0 100%;
    }

    .widget h2{
        text-align:center;
    }
}
/* DARK MODE */
@media (prefers-color-scheme: dark) {
    body{
        background-color:#333;
        color:#efefef;
    }

    a{
        color:#d97d54;
    }

  }